# HWBinder IPC from client to server
binder_call(hal_samsung_powershare_client, hal_samsung_powershare_server)

add_hwservice(hal_samsung_powershare_server, hal_samsung_powershare_hwservice)
allow hal_samsung_powershare_client hal_samsung_powershare_hwservice:hwservice_manager find;

# Allow binder communication with platform_app
binder_call(hal_samsung_powershare, platform_app)